.table-wrapper {
  max-width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

.header-cell {
  border-top: none;
}

.table-odd-row {
  background-color: rgb(234, 255, 224);
}

.table-even-row {
  background-color: rgb(243, 255, 237);
}

.row-number {
  text-align: center;
}

.amount-cell:hover {
  cursor: pointer;
  background-color: rgb(217, 255, 200);
}

.sum-cell:hover {
  cursor: help;
  background-color: rgb(217, 255, 200);
}

.actions-column {
  position: sticky;
  top: 0;
  right: 0;
  width: 50px;
  padding: unset;
  background-color: rgb(243, 255, 237);
  border-left: 1px solid lightgray;
}

.actions-text {
  padding: 5px 10px;
  border-left: 1px solid lightgray;
}

.actions-cell {
  position: sticky;
  top: 0;
  right: 0;
  text-align: center;
  padding: unset;
}

.actions-icon {
  width: 20px;
  height: 25px;
}

.action-btn {
  border: none;
  background-color: unset;
  width: 100%;
  border-left: 1px solid lightgray;
}

.action-btn:hover {
  box-shadow: 0 0 5px gray;
}
